[submodule "bitbake"]
	path = bitbake
	url = ../smart-garden-low-cost-gateway-yocto-bitbake.git
[submodule "meta-mediatek"]
	path = meta-mediatek
	url = ../smart-garden-low-cost-gateway-yocto-meta-mediatek.git
[submodule "meta-distribution"]
	path = meta-distribution
	url = ../smart-garden-low-cost-gateway-yocto-meta-distribution.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = ../smart-garden-low-cost-gateway-yocto-meta-openembedded.git
[submodule "meta-readonly-rootfs-overlay"]
	path = meta-readonly-rootfs-overlay
	url = ../smart-garden-low-cost-gateway-yocto-meta-readonly-rootfs-overlay.git
[submodule "meta-gardena"]
	path = meta-gardena
	url = ../smart-garden-low-cost-gateway-yocto-meta-gardena.git
[submodule "meta-lemonbeat-firmware"]
	path = meta-lemonbeat-firmware
	url = ../smart-garden-low-cost-gateway-meta-lemonbeat-firmware.git
[submodule "meta-swupdate"]
	path = meta-swupdate
	url = ../smart-garden-low-cost-gateway-yocto-meta-swupdate.git
